## CONFIG FILES
/.projects
/.env

## DOCKER FILES
/.docker/nginx/conf.d/
!/.docker/nginx/conf.d/php.conf
!/.docker/nginx/conf.d/phpmyadmin.conf
!/.docker/nginx/conf.d/wordpress.conf.example
/.docker/nginx/certs/
!/.docker/nginx/certs/server.csr.cnf
!/.docker/nginx/certs/v3.ext