server {
    listen 80;
    listen [::]:80;
    server_name {{project_name}}.local;
    root   /var/www/projects/{{project_name}};
    index  index.php;

    ## WordPress Perm links config ##
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    ## Add trailing slash to */wp-admin requests.
    rewrite /wp-admin$ $scheme://$host$uri/ permanent;

    ## Pass all .php files onto the php-fpm container.
    location ~* \.php$ {
        fastcgi_pass   php:9000;
        include        fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param  SCRIPT_NAME     $fastcgi_script_name;
    }
}